*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

header{
    background:#5695a3;
    color:white;
    padding:18px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,0.15);
}

.payment-container{
    width:90%;
    max-width:650px;
    margin:35px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 5px 18px rgba(0,0,0,0.12);
}

.payment-container h2{
    text-align:center;
    color:#333;
    margin-bottom:25px;
}

.payment-option{
    border:1px solid #ddd;
    border-radius:10px;
    padding:18px;
    margin-bottom:18px;
    transition:0.3s;
    background:#fff;
}

.payment-option:hover{
    border-color:#5695a3;
    box-shadow:0 0 10px rgba(13,110,253,0.15);
}

.payment-option label{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:17px;
    font-weight:bold;
    cursor:pointer;
    color:#333;
}

.payment-option input[type="radio"]{
    transform:scale(1.2);
}

.payment-option i{
    color:#5695a3;
    font-size:20px;
}

.payment-option input[type="text"],
.payment-option input[type="password"],
.payment-option select{
    width:100%;
    margin-top:15px;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    outline:none;
}

.payment-option input:focus,
.payment-option select:focus{
    border-color:#5695a3;
}

.pay-btn{
    width:100%;
    margin-top:20px;
    padding:15px;
    background:#5695a3;
    color:white;
    border:none;
    border-radius:8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.pay-btn:hover{
    background:#5695a3;
}

@media(max-width:600px){

.payment-container{
    width:95%;
    padding:20px;
}

.payment-option label{
    font-size:15px;
}

.pay-btn{
    font-size:16px;
}

}

.payment-fields{
    display:none;
    margin-top:15px;
}

#upiFields{
    display:block;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:45px;
    height:45px;
}

.logo span{
    font-size:24px;
    font-weight:bold;
}